/* Global */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Graphik', sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (-webkit-device-pixel-ratio: 1.25) {
  html {
    font-size: 12px;
  }
}

@media (-webkit-device-pixel-ratio: 1.5) {
  html {
    font-size: 10px;
  }
}

.page__home {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

h1 {
  color: #1976d2;
  padding: 1rem;
  margin: 0;
}

.row {
  display: flex;
  align-items: center;
}

.search {
  Input {
    width: 300px;
  }
}

.table-header {
  display: flex;
  gap: 1rem;
}

.sort-icon {
  width: 10px;
  height: 15px;
  color: #ad562e21;
}

.sort-icon.asc {
  transform: rotate(180deg);
}

.sort-icon.desc {
  transform: rotate(0);
}

/* MUI overrides */

Button {
  height: 35px;
}
