// Setup
@import url('./styles/design-tokens/index.scss');

// Helpers
@import url('./styles/utility/index.scss');

// Overrides
@import url('./styles/material-overrides/index.scss');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Graphik', sans-serif;
  scroll-behavior: smooth;
  background-image: url(../../frontend/src/assets/images/background.jpg);
}

::-webkit-scrollbar {
  border-radius: 0.5rem;
  width: 0.75rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--frosty-white-600);
  border: 2px solid transparent;
  border-radius: 0.5625rem;
  background-clip: content-box;
}

.page__home {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;

  .page__home-logo {
    align-items: center;
    gap: 3rem;

    /* globe */
    .earth {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      box-shadow:
        0 0 10px 10px var(--midnight-blue-500) inset,
        0 0 10px 2px var(--midnight-blue-400);
    }

    .earth > div {
      width: 200%;
      height: 100%;
      animation: spin 20s linear infinite;
      background: url(assets/images/world.jpg);
      background-size: cover;
    }

    /* text */
    span {
      position: relative;
      font-size: var(--logo-size);
      letter-spacing: var(--logo-spacing);
      font-weight: var(--logo-weight);
      color: var(--logo-color);
      font-style: italic;
    }

    span:before {
      position: absolute;
      left: 0;
      top: 0;
      content: attr(filter-content);
      filter: url(#motion-blur-filter);
    }

    svg {
      display: none;
    }
  }

  .page__home-search {
    align-items: center;
    justify-content: space-between;

    Input,
    Button {
      width: 18.75rem;
    }
  }

  .page__home-table {
    flex: 1 0 0;
    overflow: auto;
  }
}

.component__usertable {
  .component__usertable-header {
    gap: 1rem;
    margin: 0 0 0 0.5rem;
  }

  .icon-sort {
    width: 10px;
    height: 15px;
  }

  .icon-delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .icon-sort.asc {
    transform: rotate(180deg);
  }

  .icon-sort.desc {
    transform: rotate(0);
  }

  .action-buttons {
    align-items: center;
    gap: 1rem;
  }
}

@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  html {
    font-size: 12px;
  }
}

@media (-webkit-device-pixel-ratio: 1.5) {
  html {
    font-size: 10px;
  }
}
